body {
  color: #111;
  font-family: 'Noto Sans Kr', sans-serif;
  line-height: 1.5;
}

img {
  width: 100%;
  height: 300px;
  margin: 0 auto;
}

h4 {
  margin-top: 8px;
  font-size: 17px;
  font-weight: 500;
  line-height: 1.35;
}

h5,
span {
  position: absolute;
  bottom: 20px;
  color: #666;
}

h5 {
  font-size: 16px;
  font-weight: 400;
}

span {
  font-size: 14px;
  font-weight: 200;
}

.container {
  max-width: 1430px;
  margin: 0 auto;
}

.container .shows {
  display: flex;
  /* 가로로 정렬 */
  flex-wrap: wrap;
  /* 가로로 정렬했을 때 부모 넓이보다 커지므로 다음줄에 이어서 정렬해줌 */
  margin: 0 auto;
}

.container .shows .show {
  position: relative;
  width: 18%;
  height: 470px;
  padding: 20px;
  margin: 0 0 2% 2%;
  border: 1px solid black;
  box-sizing: border-box;
  /* 요소 커지지 않게 해줌 */
  
}

.container .shows .show .genre {
  right: 20px;
}

/* hover했을 때 화면 구성 */
figcaption {
  position: absolute;
  /* 이미지 위에 올라가야하기 때문에 position:absolute, top:0, left:0 */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .8);
  transition: .2s;
  opacity: 0;
  /* 마우스 올릴때만 보여야하므로 opacity:0 */
}

.container .shows .show:hover figcaption {
  opacity: 1;
  /* 마우스 올리면 figcaption 보이게 */
}

figcaption div {
  position: absolute;
  top: 40%;
  width: 70px;
  height: 70px;
  border: 1px solid white;
  border-radius: 50%;
  color: white;
  font-size: 14px;
  text-align: center;
  line-height: 70px;
  /* height 값과 같게 해서 세로 중앙에 배치 */
}

figcaption div:hover {
  cursor: pointer;
}

.book {
  left: 20%;
  background-color: white;
  color: #000;
}

.info {
  right: 20%;
  color: #fff;
}